body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;

      -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none
}

/* SIDEBAR STYLE --------------------------------------------------------------------------------------- */
.nav-sidebar {
padding: 0px;
}

.nav-sidebar h6 {
margin-top: 0px;
padding: 15px 20px;
background-color: #ccc;
text-align: center;
font-size: 14px;
margin-bottom: 0px;
}

.nav-sidebar h3 {
padding-right: 35px;
}

.nav-sidebar-close {
position: absolute;
right: 15px;
top: 15px;
}

.nav-sidebar ul {
list-style: none;
padding-left: 0px;
margin: 0px;
}

.nav-sidebar ul li {
padding: 15px;
line-height: 28px;
border-bottom: 1px solid #f0f0f0;
}

.nav-sidebar ul li a {
display: block;
}


@-webkit-keyframes -amp-start {
  from {
    visibility: hidden
  }
  to {
    visibility: visible
  }
}

@-moz-keyframes -amp-start {
  from {
    visibility: hidden
  }
  to {
    visibility: visible
  }
}

@-ms-keyframes -amp-start {
  from {
    visibility: hidden
  }
  to {
    visibility: visible
  }
}

@-o-keyframes -amp-start {
  from {
    visibility: hidden
  }
  to {
    visibility: visible
 }
}

@keyframes -amp-start {
  from {
    visibility: hidden
  }
  to {
    visibility: visible
  }
}

amp-carousel {
    overflow-x: hidden;
}

.headerbar {
height: 50px;
z-index: 999;
top: 0;
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: flex-start;
}

.hamburger,
.search,
.account,
.basket {
padding: 5px;
flex: 0 1 60px;
align-self: auto;
cursor: pointer;
}

.site-name {
flex: 1 1 auto;
margin-left: -36px;
}

.tab-tooltip {
position: absolute;
top: -1000rem;
}

.tab-tooltip:focus {
position: fixed;
z-index: 99999;
top: 0;
left: 0;

/* style */
padding: 0.5rem 1rem;
background: #f5f5f5;
border: #a7a7a7 1px solid;
}

amp-sidebar,
amp-sidebar .submenu {
width: 100%;
height: 100%;
}

amp-sidebar .main-menu,
amp-sidebar .submenu {
overflow: auto;
}

amp-sidebar .submenu {
top: 0;
left: 0;
position: fixed;
}

amp-sidebar .hide-submenu {
visibility: hidden;
transform: translateX(-100%);
}

amp-sidebar .show-submenu {
visibility: visible;
transform: translateX(0);
}

amp-sidebar .hide-parent {
visibility: hidden;
}

amp-sidebar .truncate {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

amp-sidebar .link-container {
display: block;
height: 44px;
line-height: 44px;
border-bottom: 1px solid #f0f0f0;
padding: 0 1rem;
}

amp-sidebar a {
text-decoration: none;
cursor: pointer;
}


amp-sidebar .submenu-icon {
padding-right: 44px;
}

amp-sidebar .submenu-icon::after {
position: absolute;
right: 0;
height: 44px;
width: 44px;
content: '';
background-size: 1rem;
background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>');
background-repeat: no-repeat;
background-position: center;
}

amp-sidebar .controls {
display: flex;
height: 50px;
background: #f0f0f0;
}

amp-sidebar .controls a {
display: flex;
justify-content: center;
align-items: center;
}

amp-sidebar .controls span {
line-height: 50px;
margin: 0 auto;
}

amp-sidebar nav>.controls>a:first-of-type {
visibility: hidden;
}

amp-sidebar .controls a svg {
height: 1rem;
width: 1rem;
}

amp-sidebar .link-icon {
float: left;
height: 44px;
margin-right: 0.75rem;
}

amp-sidebar .link-icon>svg {
height: 44px;
}

amp-sidebar {
background: #fff;
color: #232323;
fill: #232323;
text-transform: uppercase;
letter-spacing: 0.18rem;
font-size: 0.875rem;
}

amp-sidebar a {
color: #232323;
text-transform: none;
letter-spacing: normal;
}

div[class*="-sidebar-mask"] {
opacity: 0.8;
}



amp-sidebar a:hover {
text-decoration: underline;
fill: #232323;
}

amp-sidebar .view-all {
font-style: italic;
font-weight: bold;
}

.hidden-scroll  div::-webkit-scrollbar {
    display: none; 
}



/* HEADER STYLE --------------------------------------------------------------------------------------- */
.col-header {
    padding: 0px;
}

.nav-menu-bar {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    padding-top: 3px;
}

.nav-menu-logo {
    display: inline-block;
}

.col-header-logo {
    padding-top: 15px;
    padding-left: 15px;
}

.col-header-bg {
    background-color: #fcab2c;
    -webkit-clip-path: polygon(28% 0, 100% 0%, 100% 100%, 46% 100%);
    clip-path: polygon(28% 0, 100% 0%, 100% 100%, 46% 100%);
    position: relative;
    z-index: 1;
}

.col-header-content {
    width: 100%;
    z-index: 2;
    top: 0px;
    padding: 15px;
}

.col-header-content .header-menu-1 {
    font-size: 10px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.58);
    text-decoration: none;
}

    .col-header-content .header-menu {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .col-header-content .header-menu-1:hover {
        text-decoration:none;
    }

    .col-header-content .header-menu-1:first-child {
        margin-right: 50px;
    }

    .col-header-content .header-menu-1:hover {
        color: #FFF;
        text-decoration: none;
    }

    .col-header-content .header-menu-2 {
        font-size: 14px;
        font-weight: 700;
        color: rgb(0, 0, 0);
    }

    .col-header-content .header-menu-2:hover {
        color: #FFF;
        text-decoration: none;
    }

    li.nav-item {
        padding-top: 6px;
    }

    li.group-menu {
        background-color: #000;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 10px 5px;
        font-size: 10pt;
    }

    li.group-menu a {
        color: #FFF;
        font-weight: 700;
    }

    li.group-menu .delimiter {
        color: #FFF;
        font-weight: 700;
    }

    li.group-menu a:hover {
        color: #f6c101;
        text-decoration: none;
    }

.col-home-slider {
    min-height: 100px;
    width: 100%;
    z-index: 3;
    padding: 0px;
}

    .col-home-info {
        z-index: 4;
    }

    .col-home-info .p1 {
        font-weight: 700;
        margin: 0px;
        display: block;
    }

    .col-home-info .p2 {
        font-weight: 700;
        margin: 0px 0px 25px 0px;
        display: block;
    }

    .carousel-preview {
        position: absolute;
    }

    amp-selector [option][selected] {
        outline: none ;
        background-color: #000;
        border-radius: 11px;
    }

/* CONTENT STYLE --------------------------------------------------------------------------------------- */
.col-content {
    padding-top: 20px;
    /* padding-bottom: 50px; */
}

.heading-slider {
    position: absolute;
    z-index: 9999999;
    left: 50%;
    font-size: 60pt;
    padding-top: 50px;
}

.text-outline {
    color: transparent;
    -webkit-text-stroke: 1px #FFF;
    text-stroke: 1px #FFF;
    text-shadow: none;
}

    .heading-slider span {
        display: block;
        font-weight: 900;
        font-style: italic;
    }

/* our business content -------------------------------------------------------------------------------- */
.col-our-business {
    min-height: 690px;
}
    .title-our-business {
        font-weight: 900;
        font-size: 50pt;
    }

    .title-our-business .text-outline {
        -webkit-text-stroke: 1px #000;
        text-stroke: 1px #000;
    }

    .col-our-business-bg {
        background-color: #fcab2c;
        -webkit-clip-path: polygon(100% 72%, 0% 100%, 100% 100%);
        clip-path: polygon(100% 72%, 0% 100%, 100% 100%);
        min-height: 690px;
        width: 100%;
        position: absolute;
        z-index: 1;
    }

    .our-business-heading {
        font-size: 20px;
        font-weight: 700;
    }

    .our-business-content {
        font-weight: 300;
        font-size: 14px;
    }

    .our-bussines-01 {
        background: url('frontend/assets/images/01.png') no-repeat;
        padding-top: 30px;
        padding-left: 30px;
        min-height: 155px;
    }

    .our-bussines-02 {
        background: url('frontend/assets/images/02.png') no-repeat;
        padding-top: 30px;
        padding-left: 30px;
        min-height: 155px;
    }

    .our-bussines-03 {
        background: url('frontend/assets/images/03.png') no-repeat;
        padding-top: 30px;
        padding-left: 30px;
        min-height: 155px;
    }

    .our-bussines-04 {
        background: url('frontend/assets/images/04.png') no-repeat;
        padding-top: 30px;
        padding-left: 30px;
        min-height: 155px;
    }

    .col-our-business-list {
        margin-top: 50px;
        z-index: 2 ;
    }

    .our-business-img-01 {
        width: 255px;
        height: 170px;
        z-index: 1;
        position: absolute;
        margin-left: 143px;
        margin-top: 87px;
        overflow: hidden;
        cursor: pointer;
    }

    .our-business-img-02 {
        width: 200px;
        height: 300px;
        z-index: 2;
        position: absolute;
        overflow: hidden;
        cursor: pointer;
    }

    .our-business-img-03 {
        width: 309px;
        height: 206px;
        z-index: 3;
        position: absolute;
        margin-left: 30px;
        margin-top: 200px;
        overflow: hidden;
        cursor: pointer;
    }

    .col-our-business-img {
        padding-top: 50px;
        padding-left: 5%;
    }

    .img-icon-yt {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 2;
    }

    .img-icon-love span {
        position: absolute;
        color: #FFF;
        font-size: 12px;
        z-index: 99;
        padding-top: 2px;
        padding-left: 18px;
    }

    .img-icon-msg span {
        position: absolute;
        color: #FFF;
        font-size: 12px;
        z-index: 99;
        padding-top: 5px;
        padding-left: 18px;
    }

/* Recomended Video ----------------------------------------------------------------------------------- */
.col-recomended-video {
    background-color: #fcab2c;
}

    .title-recomended-video .text-outline {
        -webkit-text-stroke: 1px #000;
        text-stroke: 1px #000;
        font-size: 160pt;
    }

    h3.title-recomended-video {
        font-size: 50pt;
        font-weight: 900;
    }

    .title-recomended-video span {
        display: block;
    }

    .col-recomended-video .content-slider {
        top: -120px;
    }

    .col-recomended-video {
        line-height: 0.15em ;
    }

    .col-recomended-video .title-video {
        font-size: 14pt;
        font-weight: 700;
        white-space: normal;
        padding: 15px 8px 0; 
    }
    
    .col-recomended-video .desc-video {
        white-space: normal;
        padding: 0 8px;
        display: block;
        height: 50px;
    }

    .slider-box__wrapper {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
    }
    
    .slider-box__img {
        position: absolute;
        top:0;right:0;bottom: 0;left:0;
    }

    .slider-box .img-cover {
        border: 8px solid transparent;
        cursor: pointer;
    }

    .slider-box:hover .img-cover {
        border-color: #fbe17e;
    }

    .slider-box:hover .overlay  {
        display: block;
        cursor: pointer;
    }

    .slider-box .overlay {
        background-color: rgba(251, 225, 126, 0.58);
        -webkit-clip-path: polygon(80% 0, 100% 0, 100% 100%, 24% 100%);
        clip-path: polygon(80% 0, 100% 0, 100% 100%, 24% 100%);
        position: relative;
        display: none;
        cursor: pointer;
        position: absolute;
        top:0;right:0;bottom: 0;left:0;
    }

    .col-recomended-video-footer {
        min-height: 200px;
        background-color: #fcab2c;
        -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
        clip-path: polygon(100% 0, 0 0, 0 100%);
        margin: 0 -15px;
    }

    /* Content Creator -------------------------------------------------------------------------------- */
    .col-content-creator {
        min-height: 700px;
        background: url('frontend/assets/images/bg-content-creator.png') no-repeat;
        background-size: cover;
    }
        .bg-content-creator {
            padding: 0px 50px 20px;
            min-height: 200px;
        }

        .col-content-creator .content-slider {
            min-height: 1200px;
        }

        .col-recomended-video-slider {
            top: -160px;
            position: relative
        }

        .col-recomended-video-slider__wrapper {
            width: 100%;
            padding-top: 165.250965%;
        }
        
        .col-recomended-video-slider__img {
            position: absolute;
            top: 0;right: 0;bottom: 1em;left: 0;
            transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
            cursor: pointer;
            overflow: hidden;
            padding: 30px;
        }
        
        .col-recomended-video-slider__img:hover {
            transform: translate(0, 1em);
        }

        .btn-circle {
            position:absolute;
            right: 40px;
            bottom: 80px;
            cursor: pointer;
            z-index: 99;
        }
        
        .title-creator-content {
            font-size: 36pt;
            font-weight: 700;
            position: absolute;
            z-index: 99999;
            color: #000;
            transition-timing-function: ease-out;
        }

        .content-text {
            position: absolute;
            bottom: 130px;
            padding-bottom: 50px;
            right: 40px;
            width: 120px;
            height: 100%;
            z-index: 9;
        }

        .content-text:hover {
            display: block;
        }
        
        .content-text:hover .social-media {
            display: block;
        }

        .content-text:hover .title-creator-content {
            font-size: 40pt;
        }

        .content-text .social-media p {
            padding:5px 15px;
            font-size: 25px;
        }

        .content-text .social-media {
            position: absolute;
            left: 60px;
            bottom: 0px;
            font-size: 25pt;
            text-align: center;
            padding-bottom: 20px;
            display: none;
        }
        
        .btn-circle:hover {
            background-color: #f4de93;
            border-radius: 45px;
            cursor: pointer;
        }
        
        .btn-circle:hover + div.content-text > .social-media {
            display: block;
        }

        .content-text .social-media > p:hover {
            color: #fcab2c;
            cursor: pointer;
            padding:5px 15px;
            border-radius: 10px;
            -o-transition:.5s;
            -ms-transition:.5s;
            -moz-transition:.5s;
            -webkit-transition:.5s;
            transition: .5s;
            background-color: #322f30;
        }

        .col-recomended-video_link {
            top: -100px;
        }
        
        .link-view-all {
            font-size: 16pt;
            font-weight: 600;
            color: #000;
            text-decoration: underline;
            padding-bottom: 50px;
            display: block;
        }
    

/* FOOTER STYLE --------------------------------------------------------------------------------------- */
.col-footer {
    min-height: 200px;
    background-color: #000 ;
    padding: 20px;
}

    .col-footer-left p {
        font-size: 12px;
        color: rgb(255, 255, 255);
        line-height: 1.5;
        font-weight: 300;
    }

    .col-footer-center {
        padding-top: 50px;
    }

    .col-footer-right span {
        font-size: 12px;
        font-weight: 700;
        color: #FFF;
    }

    .col-footer-delimiter .delimeter {
        border-bottom: 1px solid #FFF;
    }

    .col-footer-menu a {
        font-size: 12px;
        font-weight: 300;
        color: #FFF;
        padding: 0 .5em;
    }

    .col-footer-right-2 {
        padding-right: 60px;
    }

    .col-footer-right-2 span {
        font-size: 12px;
        font-weight: 700;
        color: #FFF;
        padding-top: 15px;
        display: block;
    }
    
    .icon-sosmed {
        font-size: 18px;
        margin-right: 15px;
        cursor: pointer;
    }

/* RESPONSIVE OVERRIDE STYLE --------------------------------------------------------------------------------------- */
@media (max-width: 991.98px) {

    .col-home-slider {
        position: relative;
        min-height: 150px;
        width: 100%;
        z-index: 3;
        padding: 0px;
    }

    .col-header-content {
        background-color: #fcab2c;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

        .col-header-content .header-menu {
            padding-bottom: 0px;
        }

    .nav-sidebar .nav-item {
        text-align: left;
    }

    .col-home-info {
        display: relative;
    }

        .col-home-info .p1 {
            font-size: 14px;
            text-align: center;
        }

        .col-home-info .p2 {
            font-size: 28px;
            text-align: center;
        }

    .carousel-preview {
        bottom: 15px;
        left: 15px;
    }

    .col-our-business-img {
        min-height: 450px;
    }

    .our-bussines-01,
    .our-bussines-02,
    .our-bussines-03,
    .our-bussines-04 {
        margin-left: 15px;
    }

    .title-our-business-responsive {
        max-width: 200px;
        max-height: 20px;
    }

    .col-our-business-bg {
        min-height: 1176px;
    }

    .col-recomended-video .title-video {
        margin-top: 15px;
    }

    .col-recomended-video .content-slider {
        background-size: 100% auto;
    }

    .col-content-creator amp-carousel {
        max-height: 500px;
    }

    .bg-content-creator {
        padding:0px;
    }

    .title-our-business {
        font-size: 40pt;
    }

    h3.title-recomended-video {
        font-size: 30pt;
    }

    .title-recomended-video .text-outline {
        font-size: 45pt;
    }

    .col-recomended-video .content-slider {
        top: -60px;
    }

    .col-recomended-video-slider {
        top: -60px;
    }

    .col-recomended-video_link {
        top: -50px;
    }

    .header-menu header div {
        display: inline-block;
        vertical-align: top;
    }


}

@media (min-width: 992px) {

    .col-content {
        margin-top: 150px;
    }

    .col-header-bg {
        min-height: 735px;
    }

    .col-header-content {
        position: absolute;
    }

    .col-home-info {
        position: absolute;
        top: 220px;
        z-index: 4;
        margin-left: 60px;
    }

        .col-home-info .p1 {
            font-size: 25px;
        }

        .col-home-info .p2 {
            font-size: 55px;
        }

    .col-home-slider {
        min-height: 663px;
        position: absolute;
        top: 120px;
        width: 100%;
        z-index: 3;
        padding: 0px;
    }

    .carousel-preview {
        top: 80%;
        left: 60px;
    }

    .col-header-logo {
        padding-top: 35px;
        padding-left: 60px;
    }

    .bg-content-creator {
        padding:0px;
    }

    .col-footer {
        padding: 40px;
    }

        .col-footer-left {
            padding-top: 24px;
            padding-left: 60px;
        }

        .col-footer-right {
            padding-top: 24px;
            padding-right: 60px;
        }

        .col-footer-delimiter {
            padding-left: 60px;
            padding-right: 60px;
        }

        .col-footer-menu {
            padding-left: 60px;
            padding-top: 10px;
        }

        .col-footer-right-2 span { 
            text-align: right;
        }

    .col-our-business {
        background: #FFF url('frontend/assets/images/bg-our-business-01.png') no-repeat bottom right;
    }
    
}

[role="button"] {
    cursor: pointer
}

html {
    scroll-behavior: smooth;
}

.scrolltop-wrap {
    box-sizing: border-box;
    position: absolute;
    top: 12rem;
    right: 5rem;
    bottom: 0;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.scrolltop-wrap a {
    position: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: -4rem;
    width: 3rem;
    height: 3rem;
    margin-bottom: -5rem;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: inline-block;
    text-decoration: none;
    -webkit-user-select: auto;
       -moz-user-select: auto;
        -ms-user-select: auto;
            user-select: auto;
    pointer-events: all;
    outline: none;
    overflow: hidden;

    font-size: 2rem;
    color: orange;
    writing-mode: vertical-lr;
    text-align: center;

    background-color: rgba(0,123,255,.25);
    border-radius: 10%;
}